.bg-gradient-primary-to-secondary {
    background: linear-gradient(90deg, #100F21, #589FB5);
}


.home-button-1 {
    background: linear-gradient(90deg, #100F21, #589FB5);
    transition: transform 0.4s ease;

}

.home-button-2 {
    background: linear-gradient(90deg, #589FB5, #100F21);
    transition: transform 0.4s ease;
}

.home-button-2:hover {
    transform   : perspective(350px) rotateY(-45deg);
    padding-left: 5%;

}

.home-button-1:hover {
    transform    : perspective(350px) rotateY(45deg);
    padding-right: 5%;
}

.text-gradient {
    background             : -webkit-linear-gradient(315deg, #100F21, #589FB5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rounded-4 {
    border-radius: 1rem !important;
}

.feature {
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
    height         : 3rem;
    width          : 3rem;
    font-size      : 1.5rem;
}

.profile {
    position     : relative;
    height       : 75vw;
    width        : 75vw;
    border-radius: 5vw;
    margin-top   : 5vw;
    max-height   : 40rem;
    max-width    : 40rem;
}

.profile .profile-img {
    height    : 80vw;
    max-height: 45rem;
    position  : absolute;
    bottom    : 0;
    left      : 50%;
    transform : translateX(-50%);
}

.profile .dots-1 {
    position: absolute;
    width   : 3vw;
    right   : 1.5vw;
    top     : 4vw;
}

.profile .dots-1 svg {
    fill: #fff;
}

.profile .dots-2 {
    position: absolute;
    width   : 3vw;
    right   : -4vw;
    top     : 6.05vw;
}

.profile .dots-2 svg {
    fill: rgba(86, 156, 178, 1);
    ;
}

.profile .dots-3 {
    position: absolute;
    width   : 3vw;
    left    : 1.5vw;
    bottom  : 6.05vw;
}

.profile .dots-3 svg {
    fill: #fff;
}

.profile .dots-4 {
    position: absolute;
    width   : 3vw;
    left    : -4vw;
    bottom  : 4vw;
}

.profile .dots-4 svg {
    fill: rgba(86, 156, 178, 1);
}

@media (min-width: 576px) {
    .profile {
        height: 60vw;
        width : 60vw;
    }

    .profile .profile-img {
        height: 65vw;
    }

    .profile .dots-1 {
        width: 3vw;
        right: 1.5vw;
    }

    .profile .dots-2 {
        width: 3vw;
        right: -4vw;
    }

    .profile .dots-3 {
        width: 3vw;
        left : 1.5vw;
    }

    .profile .dots-4 {
        width: 3vw;
        left : -4vw;
    }
}

@media (min-width: 768px) {
    .profile {
        height: 50vw;
        width : 50vw;
    }

    .profile .profile-img {
        height: 55vw;
    }

    .profile .dots-1 {
        width: 3vw;
        right: 1.5vw;
    }

    .profile .dots-2 {
        width: 3vw;
        right: -4vw;
    }

    .profile .dots-3 {
        width: 3vw;
        left : 1.5vw;
    }

    .profile .dots-4 {
        width: 3vw;
        left : -4vw;
    }
}

@media (min-width: 992px) {
    .profile {
        height: 40vw;
        width : 40vw;
    }

    .profile .profile-img {
        height: 45vw;
    }

    .profile .dots-1 {
        width: 1.5vw;
        right: 0.75vw;
    }

    .profile .dots-2 {
        width: 1.5vw;
        right: -2vw;
    }

    .profile .dots-3 {
        width: 1.5vw;
        left : 0.75vw;
    }

    .profile .dots-4 {
        width: 1.5vw;
        left : -2vw;
    }
}

@media (min-width: 1200px) {
    .profile {
        height: 35vw;
        width : 35vw;
    }

    .profile .profile-img {
        height: 40vw;
    }

    .profile .dots-1 {
        width: 1.5vw;
        right: 0.75vw;
    }

    .profile .dots-2 {
        width: 1.5vw;
        right: -2vw;
    }

    .profile .dots-3 {
        width: 1.5vw;
        left : 0.75vw;
    }

    .profile .dots-4 {
        width: 1.5vw;
        left : -2vw;
    }
}